---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=19150&currency=usd&card=tok_1674wsFBFH7iZBM82XjzCp8q&description=order%20nu%2012
    headers:
      Authorization:
      - Bearer sk_test_j7FzDw1OBZoCizYPYYrxo7V6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1674x1FBFH7iZBM8G4AWCV9u"
          }
        }
  recorded_at: Wed, 27 May 2015 13:52:07 GMT
recorded_with: VCR 2.9.3
