---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=19150&currency=usd&card=tok_1674y7FBFH7iZBM8ypTgfGTI&description=order%20nu%2012
    headers:
      Authorization:
      - Bearer sk_test_j7FzDw1OBZoCizYPYYrxo7V6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1674y8FBFH7iZBM8RrkTqIgc",
          "object": "charge",
          "created": 1432734796,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 19150,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_1674y7FBFH7iZBM8oKeQZM3i",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "8oC2dDwMLAq6BuJu",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "card": {
            "id": "card_1674y7FBFH7iZBM8oKeQZM3i",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "8oC2dDwMLAq6BuJu",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "balance_transaction": "txn_1674y8FBFH7iZBM8Iv2TAxOT",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "order nu 12",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_1674y8FBFH7iZBM8RrkTqIgc/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 27 May 2015 13:53:16 GMT
recorded_with: VCR 2.9.3
