%section.registration-area
  .row
    .col-sm-8
      = render 'form'
    .col-sm-4        
      #bag.btn-group.btn-block
        .dropdown-menu{ style: 'display:block;'}
          = render 'user_shopping_bag_items/shopping_bag_summary'
/ Registration Section Ends
/ Main Container Ends