%h6
  First of all
%p
  Visiting, purchase and all other online shop activities are subject to the acceptance of these terms of use. Please read these terms carefully. Your activity on this site indicates your acceptance of the terms of use, your agreement to them and the waiving of any right to make any claims against them.
  In order to make a purchase in our online shop: A) You must be 18 years old and eligible to enter into a legally binding contract. B) You must have an email account. C) You must have a credit card valid on the day of purchase that is authorized for collection by one of the credit companies legally operating in Israel.
%h6
  About the online store
%p
  The online store (www.shop.cityofdavid.org.il) is a branch of the souvenir shop located in the City of David, Shiloah Village, Jerusalem, and operated by Maayan Properties Company Ltd. (512197484). The shop offers a variety of Judaica, jewelry, artwork, fine metal-work, books, maps and other products related to the City of David and Ancient Jerusalem. The items have been created by Israel`s finest creative artists and have been carefully selected by the store’s staff.
  The store has invested in safeguarding your privacy. All information submitted to the online shop is protected by SSL protocol and is secured in accordance with the PCI DSSinformation security standard, and will only be used in order to purchase the product that you order. No use will be made of any information without your authorization, unless such use is mandated by law, or in order to prevent improper use. Every transfer of information is encrypted, according to standard. However, in cases not subject to the control of the company and/or shop, and in cases of force majeure, the shop and/or company will not be responsible for damage of any kind, direct or indirect, to you or to anyone acting on your behalf, if this information is revealed or lost, or if unauthorized use is made. 
%h6
  Purchasing procedure
%p
  Next to each product you will find a short description of the product, its name, the name of the artist and the price. Note that the price includes VAT. Additionally, the picture and description are for illustration only, and there may be discrepancies between them and the actual item. 
  When you find an item that you would like to order, please click “add to basket”. Marked items will be added to the online shopping basket. If you do not choose “continue shopping”, you are then invited to proceed to “checkout”.
  In order to make your order, you are required to authorize your agreement to these terms of use. Afterwards, you will be asked to register and type in some basic details, such as your name, street address, email address, telephone number, Israeli identity number (if applicable), and other details. Your registration serves as an agreement on your part to be included in the list of store customers, and to be, if you desire, among the recipients of direct mail from the shop and the City of David National Park. 
  After registering, you will have three purchase options:
  1. Purchase the item from the shop in the City of David National Park as part of your tour of the site. Recommended!
  2. Purchase online.
  3. Purchase by phone.
  We will skip the first option at this point and provide details regarding the other two options.
%h6
  Online Purchase
%p
  After registering to be on the list of customers, provide details concerning your credit card. Then after the purchase is authorized by your credit card company, you will be sent a confirmation of the acceptance (or rejection) of the purchase by the credit card company by email. Your order will be considered complete only after your credit card company has authorized your order, and the date of shipping will be entered into the computer at this point. An order that is not authorized by your credit card company will be cancelled.
  Please note: items may be picked up in person, and in this case, you will be charged when you collect the item and not before.
%h6
  Telephone orders
%p
  After registering to be on the list of customers, call 972-2-5457527, for the shop in the City of David National Park and order the item that you have selected. Provide the details of your credit card to the salesperson. When your purchase has been authorized by the credit card company, the salesperson will provide you with confirmation of your order by telephone or email. Your order will be considered complete only after the salesperson confirms that your credit card company has authorized your order, and the date of shipping will be entered into the computer at this point. An order that is not authorized by your credit card company will be cancelled.
  Please note: items may be picked up in person, and in this case, you will be charged when you collect the item and not before.
%h6
  Delivery
%p
  After your order has been placed, the packaged item will be sent to you at the address you provided by mail or EMS as follows:
  1. To an address in Israel within 14 business days (registered mail)
  2. To an overseas address within 14-21 business days
  The period specified for supplying the goods will begin the next business day after your order has been authorized by the credit card company. The shop bears no responsibility for delays in supply and/or service caused by the postal service or EMS. The shop will be considered the place where the item has been handed over. When the item is delivered, you may be required to provide proof of your identity or sign a receipt in order to receive the item.
  A separate charge will be made for delivery, in addition to the price of the item. Delivery tariffs may change from time to time.
  Delivery Tariff: 
  1. To an address in Israel, a package weighing up to 2 Kg. costs $7.00
  2. To an overseas address, there are two shipping options, a package weighing up to 2 Kg. costs $15.00 to ship registered mail, and $30.00 to ship via EMS.
  3. For packages of excess weight (according to the judgment of the shop), a special charge will be levied, after receiving your confirmation by email or telephone.
  4. All items purchased online can be picked up in person. The items will be kept in the City of David shop for 7 days. In this case, charges will be made upon pick-up and not previously.

  In order to eliminate any doubt, delivery charges are part of the contract, and the purchase price is the one which is advertised online at the time that you complete the entire ordering process. 
%h6
  Purchasing Difficulties
%p
  Orders will be carried out only upon ascertaining that payment will be made.
  If there is any error in the details that you provide, or if a detail is missing, the shop cannot ensure that the item will be supplied on time. If an item is returned to the shop due to an error in the details you provide, you will be charged for shipping and handling.
  The shop does its utmost to ensure that the items advertised are in stock, and that the description, picture and price advertised are accurate. Occasionally, items are out of stock, or a mistake occurs regarding its description, picture or price. If this occurs, the shop will inform you, the purchase price will be refunded and the shop will have no obligation to supply the item.
  Likewise, there may be differences in the exact shade of color between pictures advertised in the online shop and the actual item supplied; these differences will not be considered a sufficient reason to cancel the purchase on your part.
  Since the items sold in our shop are subject, by their nature, to copying or reproduction, you will not be allowed to exchange any item after the original packaging has been opened, unless the item is defective. If the item is defective, send it back to the shop along with the tax receipt. When the shop receives it, you may exchange it for the same item in stock, or exchange it for another item of the same value.
%h6
  Cancelling Your Purchase
%p
  You may cancel your purchase in accordance with the Israeli law (Consumer Protection Law - 1981). You may cancel your purchase in writing if the item does not fit or is found defective, from the day of order until 14 days after receiving the item. Since the items sold in our shop are subject, by their nature, to copying or reproduction, you will not be allowed to exchange any item after the original packaging has been opened.
  If you do cancel your purchase, not according to the aforementioned terms, the shop will be entitled to charge cancellation fees amounting to no more than 5% of the purchase price or $24.00, whichever is the lesser amount.
  The shop will be entitled to cancel your purchase 1) if an error was made regarding the price or description of the item, 2) if any other technical error occurred, 3) if force majeure, war, hostilities or terror prevent carrying out the purchase, 4) if the purchase involves illegal activities on your part or the part of a third party, 5) if the item is out of stock. If the purchase is cancelled by the shop or anyone representing it, the shop will not be responsible nor will it be liable for any damages, direct or otherwise, to you or a third party. 
%h6
  Copyrights
%p
  According to copyright laws in Israel and international treaties, the rights over the published materials and products advertised on the website belong to the company and/or the artists, and/or one of the suppliers unless there has been an explicit agreement between the company and any of the artists, and/or suppliers that the rights belong to another party. These laws apply, among others, to texts, pictures, illustrations, maps, musical pieces, video segments, and all material appearing on the website (to be referred to as “protected material”). According to copyright laws, one may not use, copy, distribute anew, copy or publish protected materials without the prior agreement in writing from the owner of the rights over protected materials. It is forbidden to falsify, damage or change protected materials in any way, or to perform any action that would lessen the value of the protected materials, in a manner that would damage the dignity or reputation of the owner of the rights over protected materials.
%h6
  In conclusion, some general guidelines
%p
  Make sure to provide correct and complete details in order to allow your order to be carried out quickly and efficiently. Be aware that offering false details is a criminal offense and civil infraction, and one who does this is liable to have legal measures taken against him, both criminal and civil.
  Presenting products on the shop website is not meant to express an opinion about them or their quality. 
  The terms of use of the online shop serve as the basis for any discussion between you and the shop and\or company. The interpretation and enforcement of these conditions, and any action or conflict arising from them, will be done according to the laws of the State of Israel, and if need be, adjudicated in the authorized court of law in Jerusalem alone.
  If any questions arise regarding the item, the artist, terms of use of the online store, conditions of delivery, etc. please contact the shop in the City of David National Park at 972-2-626-2341 Ext. 4 or shop@cityofdavid.org.il, and we will be happy to answer your questions and be of service with any matter regarding purchase.