.list-group
  = link_to 'My Account', my_account_path, class: (nav_active(my_account_path) + ' list-group-item')
  = link_to 'My Orders', my_orders_path, class: (nav_active(my_orders_path) + ' list-group-item')

