/ Main Heading Starts
.information-page-content
  .row
    .col-sm-3.hidden-xs
      = render 'information_menu'
    .col-sm-9     
      .information-page-head
        Terms And Conditions
      .panel-body.information-page-body 
        = render 'terms_and_conditions' 
    .col-sm-3.visible-xs-block
      = render 'information_menu' 