/ Main Container Starts
#main-container.container
  / Breadcrumb Starts
  %ol.breadcrumb
    %li
      %a{:href => "index.html"} Home
    %li.active 404 Page
  / Breadcrumb Ends
  / Main Heading Starts
  %h2.main-heading.text-center
    404 Page
  / Main Heading Ends
  / Content Starts
  .content-box.text-center
    %h4.special-heading oops !
    %h5
      The page you were looking for could not be found.
    %br/
    %p
      %a.btn.btn-warning{:href => "index.html"} Back to Home
  / Content Ends
/ Main Container Ends