---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000069&card[cvs]=123&card[exp_month]=12&card[exp_year]=18
    headers:
      Authorization:
      - Bearer sk_test_j7FzDw1OBZoCizYPYYrxo7V6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_166hlkFBFH7iZBM8VANbYgUW",
          "livemode": false,
          "created": 1432645616,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_166hlkFBFH7iZBM8WOGr5wMB",
            "object": "card",
            "last4": "0069",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "Z6vqW1fH4V7e2Bb3",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "176.12.141.3"
        }
  recorded_at: Tue, 26 May 2015 13:06:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_166hlkFBFH7iZBM8VANbYgUW&description=Registration%20Payment
    headers:
      Authorization:
      - Bearer sk_test_j7FzDw1OBZoCizYPYYrxo7V6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_166hllFBFH7iZBM8UrrkY7KW"
          }
        }
  recorded_at: Tue, 26 May 2015 13:06:58 GMT
recorded_with: VCR 2.9.3
